.table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    border-spacing: 0;
    border: 1px solid black;
}
.table th,
.table td {
    border: 1px black;
    padding: 2px;
    text-align: center;
}
.table th {
    background-color: #ddd;
    color: #BB0000;
    border-bottom: 2px solid #000;
}
.table tr.odd {
    background-color: aliceblue;
}
.table tr.odd td {
    border-top: 1px solid #ccc;
}
.table tr.even td {
    border-top: 1px solid #BBEEEE;
}
.buttons{
    margin: auto;
    padding: 5px;
    border-spacing: 10px;
}
.message{
    margin: auto;
    align-content: center;
}